#navbar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

#navbar li {
    list-style: none;
    float: left; 
}

#navbar li a {
    display: block;
    padding: 3px 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #999;
    font-weight: bold; }
#navbar li a:hover {
    color: #000; }

#navbar li ul {
    display: none;  }
#navbar li:hover ul, #navbar li.hover ul {
    position: absolute;
    display: inline;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0; }


#navbar li:hover li, #navbar li.hover li {
    float: left; }
#navbar li:hover li a, #navbar li.hover li a {
    color: #000; }
#navbar li li a:hover {
    color: #357; }

