
/*------------------------------------------------
	estilos generales - inicio Layout CSS
	autor: Jorge Serrano
------------------------------------------------*/
body {
	/*
	background-color: #f3f3f3;
	background: url(images/bg_body.png) repeat-x;
	border-top: 5px solid #000;
	*/
	/*
	background: #f2f9fe;
	background: -moz-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd));
	background: -webkit-linear-gradient(top, #f2f9fe 0%,#d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 0%,#d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 0%,#d6f0fd 100%);
	background: linear-gradient(to bottom, #f2f9fe 0%,#d6f0fd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
	*/
	color: #333;
	font-family: 'HelveticaLTStdCondBold', sans-serif;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}
/** header **/
div.header{
	height: 100px;
	padding-top: 35px;
	text-align: center;
}
/** content **/
div.content{
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
}
/** footer **/
div.footer {
	color: #102e57;
	padding: 20px 0 20px;
}
div.footer > div.wrapper {
	padding: 0 20px;
	text-align: center;
}
/***/
.nombre-aplicacion{
	font-size: 20px;
	font-family:"Comic Sans MS", cursive;
}
a {
	text-decoration:none;
}
/*form inicio*/
div.form-login > div > input[type='text'], div.form-login > div > input[type='password'] {
	float: left;
	margin-left: 7px;
	width: 180px;
	height: 20px;
	border: solid 1px #DFDFDF;
	color: #7D8582;
	padding: 6px;
	font-size: 18px;
}
div.form-login > div div.wrapper-select-form {
	float: left;
	margin-left: 7px;
	width: 193px;
	height: 34px;
	border: solid 1px #DFDFDF;
	overflow: hidden;
}
div.form-login > div div.wrapper-select-form > select {
	-moz-appearance: none;
	border: none;
	font-size: 17px;
	height: 34px;
	width: 193px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #7D8582;
}
.session-login{
	background-color: #f3f3f3;
	float:left;
	border-radius: 20px;
	-moz-box-shadow: 0px 0px 20px #000000;
	-webkit-box-shadow: 0px 0px 20px #000000;
	box-shadow: 0px 0px 20px #000000;
	font-family: Garamond, serif;
/*	
	background: #70b0e0;
	background: -moz-linear-gradient(top, #70b0e0 44%, #88bfe8 70%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(44%,#70b0e0), color-stop(70%,#88bfe8));
	background: -webkit-linear-gradient(top, #70b0e0 44%,#88bfe8 70%);
	background: -o-linear-gradient(top, #70b0e0 44%,#88bfe8 70%);
	background: -ms-linear-gradient(top, #70b0e0 44%,#88bfe8 70%);
	background: linear-gradient(to bottom, #70b0e0 44%,#88bfe8 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b0e0', endColorstr='#88bfe8',GradientType=0 );
*/	
}
.session-login div { 
	float:left;
}
div.form-login div {
	margin-top: 8px;
	margin-left: 65px;
	float: left;
	overflow: hidden;
	/*width: 100%;*/
	text-align: center;
}

div.form-login div label{
	font-weight: bold;
	font-size: 17px;
	color: #555555;
	float: left;
	margin: 0;
	width: 120px;
}
.login div.inicio_session{
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
	margin-top: 20px;
}
div.login-button{
	width: 100%;
	margin-left: 0px !important;
	margin-bottom: 10px;
}
div.login-button button{
	min-width:30%;
	min-height:40px;
}
div.demo{
	text-align:center;
	margin-bottom: 15px;
}
/****** fin for inicio *********/

#login_response{
	font-weight: bold;
	font-size: 17px;
	color: red;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

